<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Solar System</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
<!--<nav>-->
<!--    <a href="/"> Home </a>-->
<!--    <a href="/mercury"> Mercury </a>-->
<!--    <a href="/venus"> Venus </a>-->
<!--    <a href="/earth"> Earth </a><br>-->
<!--</nav>-->
