<% include partials/header.ejs %>
<img src="/img/earth.jfif" alt="Earth" id="earth"/>
<h1>Welcome to Earth</h1>
<nav>
    <a href="/"> Home </a>
    <a href="/mercury"> Mercury </a>
    <a href="/venus"> Venus </a>
    <a href="/earth"> Earth </a><br>
    <a href="/mars"> Mars </a><br>
</nav>

<div id="earInfo">
<p>
    According to the NASA website, Earth is the third planet from the sun right after Venus. Like Mercury, Earth is
    rocky with a solid but active surface and like Venus, it has mountains. However, Earth also has valleys, canyons,
    plains, oceans, and more. Actually, the ocean makes up about 70% of Earth’s surface! We know that a day on Earth
    lasts about 24 hours, however, not many know that a year is 365.25 days which is why we need leap years.
</p>
</div>

<% include partials/footer %>