<% include partials/header.ejs %>
<body id="marsBody">
<h1>Welcome to Mars</h1>
<nav>
    <a href="/"> Home </a>
    <a href="/mercury"> Mercury </a>
    <a href="/venus"> Venus </a>
    <a href="/earth"> Earth </a><br>
    <a href="/mars"> Mars </a><br>
</nav>
<div id="marsInfo" class="container clearfix">
    <p>
        According to the NASA website, Mars is half the size of Earth. It is a cold planet yet red in color but from
        the rusty iron in the ground. Mars also has volcanoes, canyons, and polar ice caps however, most similarly to
        Earth, Mars has seasons and weather. Unfortunately, Mars does not have water as Earth does. There are signs
        that floods happened once upon a time but most water now lives in icy dirt and thin clouds, with some evidence
        of salty water in the ground.
    </p>
    <img src="/img/mars.jfif" alt="Mars" id="mars"/>
</div>

<% include partials/footer %>