<% include partials/header.ejs %>
<body id="mercBody">
<h1>Welcome to Mercury</h1>
<nav>
    <a href="/"> Home </a>
    <a href="/mercury"> Mercury </a>
    <a href="/venus"> Venus </a>
    <a href="/earth"> Earth </a><br>
</nav>
<div id="mercInfo" class="container clearfix">
    <img src="/img/mercury_orbit.jfif" alt="Mercury" id="mercury_orbit"/>

    <p>
        According to the NASA website, Mercury is the smallest planet in our solar system, it’s only a little bigger than
        Earth’s moon. It is a rocky planet with a solid surface covered in craters. Mercury is the closest planet to the
        sun yet it is not the hottest. A day on Mercury is about 59 days on Earth, however, a year is only about 88 days!
    </p>

</div>

<% include partials/footer %>