<% include partials/header.ejs %>
<body id="venBody">
<h1>Welcome to Venus</h1>
<nav>
    <a href="/"> Home </a>
    <a href="/mercury"> Mercury </a>
    <a href="/venus"> Venus </a>
    <a href="/earth"> Earth </a><br>
    <a href="/mars"> Mars </a><br>
</nav>
<div id="venInfo" class="container clearfix">
    <img src="/img/venus.jfif" alt="Venus" id="venus"/>
    <p>
        According to the NASA website, Venus is the hottest planet in our solar system despite not being the closest
        to the sun. It is a little bigger than Earth and also has mountains and volcanoes. However, Venus spins in the
        opposite direction of Earth and is very slow. A day on Venus is 243 days on Earth yet a year is only 225 Earth
        days! Can you imagine your year being less than your day?
    </p>
</div>
<p></p>

<% include partials/footer %>